.contentWrapper {
    text-align: left;
    max-width: 90%;
}

.school:not(:last-child) p:last-child {
    margin-bottom: var(--ungrouped-margin);
}

.icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: var(--grouped-margin);
}

.icons li {
    margin: 0 5px;
}

.icons li:first-child {
    margin-left: 0;
}

.standaloneContent {
    margin-bottom: var(--ungrouped-margin);
}

.standaloneContent:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1000px) {

    .contentWrapper {
        max-width: 60ch;
    }


}