.form,
.contactInfo,
.sectionContent,
.formGroup {
    display: flex;
    flex-direction: column;
}

.form,
.formGroup,
.contactInfo {
    gap: 10px;
}

.contactInfo a {
    margin: 0 auto;
    width: max-content;
    color: var(--font-color-main);
}

.form {
    width: 100%;
}

.formGroup > input,
.formGroup > textarea {
    flex: 4;
}

.formGroup > label {
    text-align: left;
    flex: 1;
}

.formGroup button {
    width: 100%;
}

.sectionContent {
    gap: 20px;
}

@media screen and (min-width: 765px) {

    .form,
    .contactInfo {
        gap: 20px;
    }

    .sectionContent {
        gap: 40px;
    }

}