html {
    font-size: 16px;
}

:root {
    --primary-color: rgb(137, 204, 253);
    --primary-darker: #29a2ff;
    --primary-transparent: rgba(137, 204, 253, 0.4);
    --font-color-main: #222;
    --background-main: #FFF;
    --banner-color: #F6F8FA;
    --border-color: #D0D7DE;
    --max-width: 1200px;
    --border-radius: 10px;
    --font-main: 'DM Sans', sans-serif;
    --icon-color: #e0e0e0;
    --grouped-margin: 20px;
    --ungrouped-margin: calc(var(--grouped-margin)*2);
    --header-height: 6rem;
    --box-shadow-main: inset 0 -1px var(--border-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

main {
    min-height: 100vh;
}

.flex-col {
    display: flex;
    flex-direction: column;

}

.flex {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.items-center {
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    text-align: center;
}

.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
}

.grayText {
    color: #777;
}

body {
    background-color: var(--background-main);
    color: var(--font-color-main);
    width: 100%;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}


h4,
h5,
p,
button,
a,
li,
label,
select {
    font-size: 1.15rem;
}

a,
p {
    text-decoration: none;
}

p {
    max-width: 60ch;
}

header,
footer {
    padding: 15px;
}

.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerItems h1 {
    margin: 0;
}

.nav-item {
    list-style: none;
    position: relative;
}


.nav-item button {
    padding: 10px;
    border-radius: var(--border-radius);
    height: 20px;
    width: 20px;
    box-sizing: content-box;
    border: 2px solid var(--primary-transparent);
}

header a {
    color: var(--font-color-main);

}

header svg {
    height: 20px;
    width: 20px;
}

.dropdown {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-main);
    border: 1px solid var(--primary-transparent);
    padding: 10px;
    border-radius: var(--border-radius);
    gap: 10px;
}

.dropdown a,
.navLinks a {
    text-decoration: none;
    transition: color 300ms, background-color 300ms;
    border-radius: var(--border-radius);
}

.dropdown a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
}

.dropdown a.active,
.navLinks a.active,
.dropdown a:hover {
    background-color: var(--primary-transparent);
}

.navLinks a {
    padding: 5px 10px;

}

.navLinks {
    display: none;
}

.logoLink {
    text-decoration: none;
    color: var(--font-color-main);
    transition: 100ms color;
}

.logoLink:hover {
    color: rgba(0, 0, 0, 0.6);
}

section h1 {
    font-size: 3em;
}

.darkSection {
    background-color: var(--font-color-main);
    color: #eee;
}

.darkSection p,
.darkSection h1,
.darkSection h2 {
    color: #eee;
}

.aboutText,
.sectionContents {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.icon-right {
    margin-left: auto;
}

.introduction {
    margin-bottom: var(--ungrouped-margin);
}

.icon-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.primary-button,
.secondary-button {
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 200ms, background-color 200ms, color 200ms, border 200ms;
}

.primary-button {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: #000;
    box-shadow: 0 0 15px transparent;
}

.secondary-button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.primary-button:hover {
    background-color: var(--primary-darker);
    border-color: var(--primary-darker);
}

.secondary-button:hover {
    box-shadow: 0 0 10px 2px var(--primary-color);
}

section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 15px;
}

.reverseRow {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

select,
input,
textarea {
    padding: 10px;
}

select,
input,
textarea {
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    transition: border-color 300ms;
}

textarea {
    min-height: 100px;
}

label {
    font-weight: bold;
}

select:hover {
    cursor: pointer;
    border-color: var(--primary-color);
}

.text-center {
    text-align: center;
    max-width: 100%;
}

footer {
    text-align: center;
    background-color: var(--font-color-main);
}

footer p {
    color: #eee;
}

.socialIcons svg {
    height: 2em;
    width: 2em;
}

.footerItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialIcons {
    display: flex;
    gap: 10px;
}

.socialIcons a {
    transition: scale 200ms;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.min-w-40 {
    min-width: 40%;

}

@media screen and (min-width: 765px) {

    .navLinks {
        display: flex;
    }

    .navLinks a.active,
    .navLinks a:hover {
        color: #000;
        background-color: var(--primary-transparent);
    }

    .socialIcons a:hover {
        scale: 1.2;
    }

    .hamburgerMenu {
        display: none;
    }

    section {
        padding: 40px 30px;
    }

    .sectionContents {
        flex-direction: row;
        justify-content: space-between;
    }

    .sectionContents,
    .home-buttons,
    .navLinks {
        gap: 20px;
    }

    .reverseRow {
        flex-direction: row-reverse;

    }
}

@media screen and (min-width: 1000px) {
    .headerItems {
        max-width: 1200px;
        margin: 0 auto;
    }
}