* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --primary-color: hsl(205, 97%, 76%);
    --primary-darker: hsl(205, 97%, 65%);
    --primary-transparent: hsla(205, 97%, 76%, 0.4);
    --primary-lighter: hsl(205, 97%, 85%);
    --font-color-main: hsl(205, 97%, 8%);
    --background-main: hsl(205, 97%, 95%);
    --background-lighter: hsl(205, 97%, 98%);
    --font-color-secondary: var(--background-main);
    --banner-color: #F6F8FA;
    --border-color: #D0D7DE;
    --max-width: 1200px;
    --border-radius: 10px;
    --font-main: 'DM Sans', sans-serif;
    --icon-color: #e0e0e0;
    --grouped-margin: 20px;
    --ungrouped-margin: calc(var(--grouped-margin)*2);
    --header-height: 6rem;
    --box-shadow-main: inset 0 -1px var(--border-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

main {
    min-height: 100vh;
}

.flex-col {
    display: flex;
    flex-direction: column;

}

.flex {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.items-center {
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    text-align: center;
}

.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
}

body {
    background-color: var(--background-main);
    color: var(--font-color-main);
    width: 100%;
}

h1 {
    line-height: 110%;
    background: linear-gradient(to right, var(--primary-color), var(--primary-lighter), var(--primary-darker));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h2,
.logoLink {
    line-height: 120%;
    font-size: 2.25rem;
    font-weight: 700;
}

h3 {
    line-height: 130%;
    font-size: 1.5rem;
}

p {
    max-width: 60ch;
    line-height: 140%;
}

a,
button {
    letter-spacing: 0.02rem;
    line-height: 100%;
}

h4,
h5,
p,
button,
a,
li,
label,
select {
    font-size: 1.15rem;
}

li {
    list-style: none;

}

a,
p {
    text-decoration: none;
}

header,
footer {
    padding: 15px;
}

.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerItems h1 {
    margin: 0;
}

.nav-item {
    list-style: none;
    position: relative;
    overflow: visible;
}


.nav-item button {
    padding: 10px;
    border-radius: var(--border-radius);
    height: 20px;
    width: 20px;
    box-sizing: content-box;
    border: 1px solid var(--font-color-main);
    background-color: var(--background-lighter);
}

header a {
    color: var(--font-color-main);

}

header svg {
    height: 20px;
    width: 20px;
}

.dropdown {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-lighter);
    border: 1px solid var(--font-color-main);
    padding: 10px;
    border-radius: var(--border-radius);
    gap: 10px;
}

.navLinks {
    list-style: none;
}

.dropdown a,
.navLinks a {
    text-decoration: none;
    transition: color 300ms, background-color 300ms;
    border-radius: var(--border-radius);
}

.dropdown a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
}

.dropdown a.active,
.navLinks a.active,
.dropdown a:hover {
    background-color: var(--primary-transparent);
}

.navLinks a {
    padding: 10px 20px;
}

.navLinks {
    display: none;
}

.logoLink {
    text-decoration: none;
    color: var(--font-color-main);
    transition: 100ms color;
}

.logoLink:hover {
    color: rgba(0, 0, 0, 0.6);
}

section h1 {
    font-size: 3em;
}

.darkSection {
    background-color: var(--font-color-main);
    color: var(--font-color-secondary);
}

.darkSection p,
.darkSection h1,
.darkSection h2 {
    color: var(--font-color-secondary);
}

.aboutText,
.sectionContents {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.icon-right {
    margin-left: auto;
}

.introduction {
    margin-bottom: var(--ungrouped-margin);
}

.icon-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: var(--border-radius);
    cursor: pointer;
    overflow: visible;
    position: relative;
}

.icon-button svg:last-of-type:not(:first-of-type),
.primary-button svg,
.secondary-button svg {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid var(--primary-transparent);
    border-radius: 100%;
    background-color: var(--background-main);
    fill: var(--font-color-main);
}

.icon-button svg:last-of-type:not(:first-of-type) {
    right: -5px;
    top: -5px;
}

.primary-button svg,
.secondary-button svg {
    right: -5px;
    top: -5px;
}

.primary-button,
.secondary-button {
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 200ms, background-color 200ms, color 200ms, border 200ms;
    position: relative;
}

.primary-button {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: var(--font-color-main);
    box-shadow: 0 0 15px transparent;
}

.secondary-button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.primary-button:hover {
    background-color: var(--primary-darker);
    border-color: var(--primary-darker);
}

.secondary-button:hover {
    box-shadow: 0 0 10px 2px var(--primary-color);
}

section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 80px 15px;
}

.reverseRow {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

select,
input,
textarea {
    border-radius: var(--border-radius);
    border: 1px solid var(--font-color-main);
    transition: border-color 300ms;
    padding: 10px;
    background-color: var(--background-lighter);
}

textarea {
    min-height: 100px;
    resize: vertical;
}

label {
    font-weight: bold;
}

select:hover {
    cursor: pointer;
    border-color: var(--primary-color);
}

.text-center {
    text-align: center;
    max-width: 100%;
}

footer {
    text-align: center;
    background-color: var(--font-color-main);
}

footer p {
    color: var(--font-color-secondary);
}

.socialIcons .icon-button svg,
.accessibility-menu svg {
    height: 2em;
    width: 2em;
    overflow: visible;
}

.footerItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialIcons {
    display: flex;
    gap: 10px;
}

.socialIcons a {
    transition: scale 200ms;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.min-w-40 {
    min-width: 40%;
}

.accessibility-menu {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.accessibility-menu > button {
    background-color: var(--background-lighter);
    border: 1px solid var(--font-color-main);
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
    transition: scale 200ms;
    display: flex;
    align-items: center;
}

.accessibility-menu > button:hover {
    scale: 1.1;
}

#accessibility-menu-content.open {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 300px;
    height: 100vh;
    padding: 80px 20px 20px 20px;
    background-color: var(--primary-darker);
    color: var(--font-color-secondary);
    z-index: 5;
}

#accessibility-menu-content.open::after {
    background-color: rgba(0, 0, 0, 0.8);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}

#accessibility-menu-content.open p {
    font-size: 24px;
}

.accessibility-menu-close {
    border: 1px solid var(--font-color-main);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: scale 200ms;
}

.accessibility-menu-close svg {
    height: 100%;
    width: 100%;
}

.accessibility-menu-close:hover {
    scale: 1.1;
}


@media screen and (min-width: 765px) {

    .navLinks {
        display: flex;
    }

    .navLinks a.active,
    .navLinks a:hover {
        color: var(--font-color-main);
        background-color: var(--primary-transparent);
    }

    .socialIcons a:hover {
        scale: 1.2;
    }

    .hamburgerMenu {
        display: none;
    }

    section {
        padding: 80px 30px;
    }

    .sectionContents {
        flex-direction: row;
        justify-content: space-between;
    }

    .sectionContents,
    .home-buttons,
    .navLinks {
        gap: 20px;
    }

    .reverseRow {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1000px) {
    .headerItems {
        max-width: 1200px;
        margin: 0 auto;
    }
}