html {
    font-size: 16px;
}

:root {
    --primary-color: #6495ED;
    --font-color-main: #222;
    --background-main: #FFF;
    --banner-color: #F6F8FA;
    --border-color: #D0D7DE;
    --max-width: 800px;
    --border-radius: 12px;
    --font-main: 'DM Sans', sans-serif;
    --icon-color: #e0e0e0;
    --grouped-margin: 20px;
    --ungrouped-margin: calc(var(--grouped-margin)*2);
    --header-height: 6rem;
    --box-shadow-main: inset 0 -1px var(--border-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    text-align: center;
}

.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
}

body {
    background-color: var(--background-main);
    width: 100%;
}

h1 {
    letter-spacing: -1px;
}

h2 {
    letter-spacing: -2px;
    font-size: 2.25rem;
}

h3 {
    letter-spacing: -1px;
    font-size: 1.5rem;
}


h4,
h5,
p,
button,
a,
li,
label,
select {
    font-size: 1.15rem;
}

a,
p {
    text-decoration: none;
    color: var(--font-color-main);
}

p {
    max-width: 50ch;
}

header,
footer {
    padding: 15px;
    background-color: var(--banner-color);
}

.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerItems h1 {
    margin: 0;
}

.nav-item {
    list-style: none;
    position: relative;
}


.nav-item button {
    background-color: var(--icon-color);
    padding: 10px;
    border-radius: 25%;
    height: 20px;
    width: 20px;
    box-sizing: content-box;
}

.nav-item button {
    border: none;
}

header svg {
    height: 20px;
    width: 20px;
}

.dropdown {
    position: absolute;
    top: 50px;
    left: -80px;
    display: flex;
    flex-direction: column;
    background-color: var(--banner-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.dropdown a,
.navLinks a {
    text-decoration: none;
    border-radius: 5px;
    transition: color 300ms, background-color 300ms;
}

.dropdown a {
    padding: 15px 20px;
}

.dropdown a.active,
.navLinks a.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.navLinks a {
    padding: 5px 10px;
}

.navLinks {
    display: none;
}

.logoLink {
    text-decoration: none;
    color: var(--font-color-main);
    transition: 100ms color;
}

.logoLink:hover {
    color: rgba(0, 0, 0, 0.6);
}

section h1 {
    font-size: 3em;
}

.darkSection {
    background-color: black;
    color: #eee;
}

.darkSection p,
.darkSection h1,
.darkSection h2 {
    color: #eee;
}

.sectionText,
.aboutText,
.sectionContents {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.sectionText p,
.sectionText a {
    font-size: 1em;
}

.icon-right {
    margin-left: auto;
}

.introduction {
    margin-bottom: var(--ungrouped-margin);
}

.home-buttons {
    display: flex;
    gap: 10px;
}

.icon-button {
    height: 2em;
    width: 2em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
}

.primary-button,
.secondary-button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    border-radius: 100px;
    color: var(--background-main);
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 5px transparent;
    transition: box-shadow 300ms, background-color 300ms, color 300ms, border 300ms;
}

.primary-button {
    border: 1px solid transparent;
}

.secondary-button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.primary-button:hover,
.secondary-button:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.primary-button:hover {
    background-color: var(--background-main);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.secondary-button:hover {
    background-color: var(--primary-color);
    color: var(--background-main);
}

main img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 300px;
}

main ul {
    padding-left: var(--grouped-margin);
}

section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 15px;
}

.reverseRow {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

label,
select,
input,
textarea {
    padding: 5px;
}

select,
input,
textarea {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    transition: box-shadow 300ms;
}

label {
    font-weight: bold;
}

select:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.text-center {
    text-align: center;
    max-width: 100%;
}

footer {
    text-align: center;
    background-color: black;
}

footer p {
    color: #eee;
}

footer svg {
    height: 1.5em;
    width: 1.5em;
}

.footerItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerIcons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footerIcons a {
    transition: scale 200ms;
}

@media screen and (min-width: 765px) {
    html {
        font-size: 24px;
    }

    .navLinks {
        display: flex;
    }

    .navLinks a.active {
        background-color: var(--primary-color);
        color: var(--background-main);
    }

    .navLinks a:hover {
        background-color: var(--primary-color);
        color: var(--background-main);
    }

    .footerIcons a:hover {
        scale: 1.2;
    }

    .hamburgerMenu {
        display: none;
    }

    section {
        padding: 40px 30px;
    }

    .sectionContents {
        flex-direction: row;
        justify-content: space-between;
    }

    .sectionContents,
    .sectionText,
    .home-buttons,
    .navLinks {
        gap: 20px;
    }

    .reverseRow {
        flex-direction: row-reverse;

    }
}

@media screen and (min-width: 1000px) {
    .headerItems {
        max-width: 1200px;
        margin: 0 auto;
    }
}