.heading {
    text-align: left;
}

.card {
    background-color: var(--banner-color);
    border-radius: calc(var(--border-radius) / 2);
    text-align: left;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    hyphens: auto;
    padding: var(--grouped-margin) 20px;
    margin-bottom: var(--ungrouped-margin);
}

.card:last-of-type {
    margin-bottom: 0;
}

.card h3 {
    word-break: break-all;
}

.card p {
    font-size: 1rem;
}

.card p:last-of-type {
    color: #777;
    margin-top: var(--grouped-margin);
    margin-bottom: 0;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
}

#sortType,
#sortDirection {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
}

.languageIcon {
    margin-right: 5px;
}

.languageIcon:last-of-type {
    margin-right: 0;
}

.cardLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardLinks a {
    color: var(--background-main);
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 200ms, scale 200ms;
    border: 1px solid var(--border-color);
}

.cardLinks a:hover {
    background-color: rgba(100, 148, 237, 0.9);
    scale: 1.1;
}

#loading {
    margin: 0 auto;
}

@media screen and (min-width: 500px) {
    .cardLinks {
        justify-content: flex-start;
        gap: var(--grouped-margin);
    }

}